.wrapper {
  display: grid;
  grid-template-columns: auto minmax(150px, 1fr);
  grid-template-rows: auto auto 100px;

  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
}

.persona {
  grid-area: header;
  background-color: red;
}
